<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- Option A: Standard LocalDB database connection (Requires Database.sql execution first) -->
    <add name="AttendanceDB" 
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AttendanceDB;Integrated Security=True;TrustServerCertificate=True" 
         providerName="System.Data.SqlClient" />
         
    <!-- Option B: AttachDbFilename LocalDB connection (Uses .mdf file directly in App_Data) -->
    <!-- 
    <add name="AttendanceDB_Attached" 
         connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AttendanceDB.mdf;Integrated Security=True;Connect Timeout=30" 
         providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
